.home {
  display: flex;
  flex: auto;
}
.__bespread {
  width: 100%;
}
.layout {
  @extend .__bespread;
  background-color: #f0f2f5;
}
.header {
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}
.footer {
  @extend .__bespread;
}

.menu {
  margin: 0;
  padding: 0;
  flex: 0 1 250px;
  height: 100vh;
}
.main {
  margin: 20px;
}
